body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    background-color: hsl(202, 86%, 94%);
}

.lime {
    color: #a3e635;
}

.lime-bg {
    background-color: #a3e635;
}

.red {
    color: hsl(4, 69%, 50%); 
}

.slate-100 {
    color: hsl(202, 86%, 94%);
}

.slate-300 {
    color: hsl(203, 41%, 72%);
}

.slate-500 {
    color: hsl(200, 26%, 54%);
}

.slate-700 {
    color: hsl(200, 24%, 40%);
}

.slate-900 {
    color: hsl(202, 55%, 16%);
}

.slate-bg-lighter {
    background-color: hsl(202, 55%, 12%);
}

.slate-bg-light {
    background-color: hsl(203, 41%, 72%);
}

.slate-bg {
    background-color: hsl(202, 55%, 16%);
}

.lime-shadow {
    box-shadow: 0px -6px 0 -1px #a3e635;
}

.input-border {
    border-color: hsl(200, 26%, 54%);
}

.input-border-focused{
    border-color: #1a3f55;
}

.radio-input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 25px; /* Adjust this for spacing */
    margin-bottom: 16px;
    user-select: none;
}

.custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid hsl(200, 26%, 54%);
  border-radius: 50%;
  transition: background-color 0.2s;
}

.radio-input:checked + .custom-radio {
    background-color: white;
    border-color: #a3e635;
  }

.custom-radio::after {
    content: "";
    position: absolute;
    display: none;
}

.radio-input:checked + .custom-radio::after {
    display: flex;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-color: #a3e635;
    border-radius: 50%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

